<FlexboxLayout alignContent="center" alignItems="center" flexDirection="row" height="100%" backgroundColor="#008ecf">
    <StackLayout backgroundColor="AliceBlue"
                 padding="16">
        <Label fontSize="24" style="align-items: center;text-align: center">Sign in</Label>
        <TextField editable="true" hint="Username"></TextField>
        <TextField editable="true" hint="Password" secure="true"></TextField>
        <Button text="Login" width="100%"></Button>
    </StackLayout>
</FlexboxLayout>
